<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/web/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/web/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/web/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/web/css/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/web/css/app.css}">
    <link rel="stylesheet" th:href="@{/web/css/app.min.css}">
    <link rel="stylesheet" th:href="@{/web/css/css.css}">
    <link rel="stylesheet" th:href="@{/web/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/web/css/jquery-ui-timepicker-addon.min.css}">
    <link rel="stylesheet" th:href="@{/web/css/main.css}">

    <script th:src="@{/web/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/web/js/system-core.js}"></script>

    <title>Document</title>
</head>
<body>
<div class="navbar-custom">
    <ul class="list-unstyled topnav-menu float-right mb-0">
        <li class="notification-box d-flex align-items-center">
            <a href="#">
                <i class="fa fa-bell" aria-hidden="true"></i>
            </a>
            <span class="number">1</span>
        </li>
        <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span class="pro-user-name ml-1">
                        <label id="fullName"></label>
                        <i class="mdi mdi-chevron-down"></i>
                    </span>
            </a>
            <div class="box-infoUser">
                <div class="dropdown-item noti-title info">
                    <h6 class="m-0 btn-infoAccount">
                        Thông tin cá nhân
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </h6>
                </div>
                <!-- item-->
                <div class="dropdown-item noti-title logout">
                    <h6 class="m-0 btn-adminLogout">
                        Đăng xuất
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </h6>
                </div>

            </div>
        </li>

        <li class="dropdown notification-list">
            <a href="javascript:void(0);" class="nav-link right-bar-toggle waves-effect waves-light">
                <i class="fe-settings noti-icon"></i>
            </a>
        </li>

    </ul>

    <ul class="list-unstyled menu-left mb-0">

        <li class="float-left">
            <button class="button-menu-mobile open-left disable-btn">
                <i class="fe-menu"></i>
            </button>
        </li>
        <li class="d-flex align-items-center box-time-header">
            <div>
                <span id="dateThu"></span>
                <span>,</span>
            </div>
            <div id="dateTime"></div>
            <div id="clock">00:00:00</div>
        </li>
    </ul>
</div>
